{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Current File",
            "type": "python",
            "request": "launch",
            "program": "${file}",
            "console": "integratedTerminal"
        },
        {
            "name": "iDS capture",
            "type": "python",
            "request": "launch",
            "program": "${workspaceFolder}/tza_DSO/IDS_Camera/captureVideoUEye.py",
            "console": "integratedTerminal",
            "cwd": "${workspaceFolder}/tza_DSO/IDS_Camera",
            "args": ["--fps", "30", "--parameterSetFile", "/local/users/tzabarn/tza_DSO/IDS_Camera/parameter_sets/tzabar_4.ini", "--calib", "0"]
        },
        {
            "name": "iDS capture - pcalib",
            "type": "python",
            "request": "launch",
            "program": "${workspaceFolder}/tza_DSO/IDS_Camera/captureVideoUEye.py",
            "console": "integratedTerminal",
            "cwd": "${workspaceFolder}/tza_DSO/IDS_Camera",
            "args": ["--fps", "30", "--parameterSetFile", "/local/users/tzabarn/tza_DSO/IDS_Camera/parameter_sets/tzabar_4.ini", "--calib", "1"]
        }
    ]
}